.main{
    height: 600px;
    width: 700px;
    
   margin: auto;
   padding: 40px;
   
   
    
}
.heading{
    text-align: center;
    border:solid black 2px;
    background-color: bisque;
    border-radius: 10px;
}

#expression{
    border-radius: 10px;
    height: 40px;
    width:400px;
    font-size: 30px;
    border:solid black 3px;
    
}
#convert{
    width: 200px;
    height: 40px;
    font-size: 15px;
    border:solid black 2px;
    border-radius: 5px;
    border-color:gold;
    
}
